@import "variables";

.columns {
  flex-wrap: wrap;
  .column {
    padding: $grid-column-padding;
    display: block;
    flex-shrink: 1;
    flex-basis: 0;
    flex-grow: 1;
  }
}

@mixin column {
  .column {
    &.is-1 {
      flex: none;
      width: $column-1;
    }
    &.is-2 {
    flex: none;
    width: $column-2;
    }
    &.is-3 {
      flex: none;
      width: $column-3;
    }
    &.is-4 {
      flex: none;
      width: $column-4;
    }
    &.is-5 {
      flex: none;
      width: $column-5;
    }
    &.is-6 {
      flex: none;
      width: $column-6;
    }
    &.is-7 {
      flex: none;
      width: $column-7;
    }
    &.is-8 {
      flex: none;
      width: $column-8;
    }
    &.is-9 {
      flex: none;
      width: $column-9;
    }
    &.is-10 {
      flex: none;
      width: $column-10;
    }
    &.is-11 {
      flex: none;
      width: $column-11;
    }
    &.is-12 {
      flex: none;
      width: $column-12;
    }
  }
}


@media screen and (min-width: 576px) {
  .columns {
    &.phone {
      display: flex;
      @include column();
    }
  }
}

@media screen and (min-width: 768px) {
  .columns {
    display: flex;
    @include column();
    &.tablet {
      display: flex;
      @include column();
    }
  }
}

@media screen and (min-width: 960px) {
  .columns {
    &.laptop {
      display: flex;
      @include column();
    }
  }
}

@media screen and (min-width: 1140px) {
  .columns {
    &.desktop {
      display: flex;
      @include column();
    }
  }
}

